<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="manager" class="org.study.spring.ioc.lookup.method.CommandManager">
		<lookup-method bean="command" name="createCommand"/>
	</bean>
	<bean id="command" class="org.study.spring.ioc.lookup.method.MyCommand"></bean>

</beans>